@font-face {
  font-family: "DIN alternate";
  src: url("http://localhost:8888/public/css/fonts/DIN Alternate Regular.otf");
}
@font-face {
  font-family: "DIN alternate";
  src: url("./fonts/DIN Alternate Regular.otf");
}
.radiobtn {
  position: relative;
  display: block;
}
.radiobtn label {
  display: block;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 5px;
  cursor: pointer;
}
.radiobtn label:after, .radiobtn label:before {
  content: "";
  position: absolute;
  right: 11px;
  top: 11px;
  width: 20px;
  height: 20px;
  border-radius: 3px;
}
.radiobtn label:before {
  background: transparent;
  transition: 0.1s width cubic-bezier(0.075, 0.82, 0.165, 1) 0s, 0.3s height cubic-bezier(0.075, 0.82, 0.165, 2) 0.1s;
  z-index: 2;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 13px;
  background-position: center;
  width: 0;
  height: 0;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNS4zIDEzLjIiPiAgPHBhdGggZmlsbD0iI2ZmZiIgZD0iTTE0LjcuOGwtLjQtLjRhMS43IDEuNyAwIDAgMC0yLjMuMUw1LjIgOC4yIDMgNi40YTEuNyAxLjcgMCAwIDAtMi4zLjFMLjQgN2ExLjcgMS43IDAgMCAwIC4xIDIuM2wzLjggMy41YTEuNyAxLjcgMCAwIDAgMi40LS4xTDE1IDMuMWExLjcgMS43IDAgMCAwLS4yLTIuM3oiIGRhdGEtbmFtZT0iUGZhZCA0Ii8+PC9zdmc+);
}
.radiobtn input[type=radio] {
  display: none;
  position: absolute;
  width: 100%;
  appearance: none;
}
.radiobtn input[type=radio]:checked + label {
  animation-name: blink;
  animation-duration: 1s;
}
.radiobtn input[type=radio]:checked + label:before {
  width: 20px;
  height: 20px;
}

/* Modal Content */
.modal-content {
  font-family: "DIN alternate";
  background-color: #f5f5f5;
  margin: auto;
  padding: 20px;
}
.modal-content #addEditScheduleForm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}
.modal-content #addEditScheduleForm section#right {
  display: grid;
}
.modal-content #addEditScheduleForm section#left input,
.modal-content #addEditScheduleForm section#left textarea {
  width: 100%;
  box-sizing: border-box;
}
.modal-content #addEditScheduleForm section#left textarea {
  height: 100px;
  padding-top: 0.5rem;
}
.modal-content #addEditScheduleForm label {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 1rem 0;
  display: block;
}
.modal-content #addEditScheduleForm input,
.modal-content #addEditScheduleForm textarea {
  padding-left: 0.5rem;
  display: block;
  border: 1px solid #ccc;
  min-height: 2.3rem;
  font-size: 1rem;
  box-sizing: border-box;
}
.modal-content #addEditScheduleForm input:focus,
.modal-content #addEditScheduleForm textarea:focus {
  outline: 2px solid #3f68b5;
}
.modal-content #addEditScheduleForm .priorityContainer {
  display: flex;
}
.modal-content #addEditScheduleForm .priorityContainer label {
  cursor: pointer;
  background-color: #c7c7c7;
  color: #8f8f8f;
  margin: 0 0.2rem;
  position: relative;
  height: 40px;
  flex: 1;
  display: grid;
  align-items: center;
  justify-content: center;
}
.modal-content #addEditScheduleForm .priorityContainer label div.priorityColor {
  position: absolute;
  left: 0;
  width: 10px;
  height: 100%;
}
.modal-content #addEditScheduleForm .priorityContainer label.labelChecked {
  color: black;
  background-color: white;
  box-shadow: 1px 1px 3px 0 #b1b1b1;
}
.modal-content #addEditScheduleForm .priorityContainer label.labelChecked .priorityColor.high {
  background-color: #b80e0e;
}
.modal-content #addEditScheduleForm .priorityContainer label.labelChecked .priorityColor.medium {
  background-color: #f0c400;
}
.modal-content #addEditScheduleForm .priorityContainer label.labelChecked .priorityColor.low {
  background-color: #007e00;
}
.modal-content #addEditScheduleForm .priorityContainer input {
  display: none;
}
.modal-content #addEditScheduleForm .isDoneContainer {
  display: flex;
}
.modal-content #addEditScheduleForm .isDoneContainer label {
  cursor: pointer;
  margin-right: 1.5rem;
}
.modal-content #addEditScheduleForm .isDoneContainer input {
  display: none;
}
.modal-content #addEditScheduleForm .isDoneContainer .iconBg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #c7c7c7;
  display: grid;
  align-items: center;
}
.modal-content #addEditScheduleForm .isDoneContainer .iconBg img {
  height: 80%;
  width: 80%;
  object-fit: contain;
  margin: auto auto;
}
.modal-content #addEditScheduleForm .isDoneContainer .iconBg.doneIcon img {
  position: relative;
  top: 1px;
}
.modal-content #addEditScheduleForm .isDoneContainer .labelChecked .doneIcon {
  background-color: green;
}
.modal-content #addEditScheduleForm .isDoneContainer .labelChecked .notDoneIcon {
  background-color: #2f2f2f;
}
.modal-content .btns {
  display: flex;
  justify-content: flex-end;
  align-self: end;
}
.modal-content .btns button {
  color: white;
  background-color: lightslategrey;
  width: 130px;
  margin-left: 1rem;
  font-size: 0.85rem;
  height: 2.3rem;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.2rem;
}
.modal-content .btns button:hover {
  transform: scale(1.03, 1.03);
}
.modal-content .btns button#discard {
  background-color: #2f2f2f;
}
.modal-content .btns button#submit {
  background-color: green;
}

/*# sourceMappingURL=addButton.css.map */
