@import '1_shared/1_1_variables.scss';

.loginForm {
	font-family: $primary-font;
	padding: 1rem;
	width: 300px;
	margin: 0 auto;

	button {
		font-size: 0.8rem;
		height: 2.3rem;
	}

	label {
		display: block;
	}

	input {
		width: 100%;
		display: block;
		border: $form-border;
		height: 2.3rem;
		margin: 1rem 0 1.5rem 0;
	}

	#signupBtn {
		display: block;
		width: 100%;
		background-color: $signup-btn;
		color: white;
		font-weight: 300;
	}

	.socialLoginContainer {
		margin-top: 1rem;
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: 0.5rem;

		.googleSignup {
			background-color: $secondary-light;
			display: flex;
			justify-content: center;
			align-items: center;
			img#googleLogo {
				height: 1.3rem;
				margin-right: 1.5rem;
			}
		}

		.kakaoSignup {
			background-color: $kakao;
			display: flex;
			justify-content: center;
			align-items: center;
			img#kakaoLogo {
				height: 2rem;
				margin-right: 1.5rem;
				position: relative;
				top: 0.25rem;
			}
		}
	}

	span.toSignin {
		display: inline-block;
		margin-top: 1rem;
		font-size: 0.8rem;
		a {
			text-decoration: none;
			color: #3f68b5;
		}
	}
}
