@import '1_shared/1_1_variables.scss';

@font-face {
	font-family: "DIN alternate";
	src: url("./fonts/DIN Alternate Regular.otf");
}

.bodyWrapper {
	height: min-content;
	padding: 3rem 0;
	width: 100%;
	background-color: #2f2f2f;
}

button {
	color: white;
	background-color: lightslategrey;
	margin-left: 0.8rem;
	width: 130px;
	font-size: 0.85rem;
	height: 2.3rem;
	border: none;
	cursor: pointer;
}

label {
	margin: 1rem 0;
	display: block;
}

.modalTarget {
	font-family: "DIN alternate";
	height: auto;
	label {
		margin-top: 0;
	}
	input[name='currentPW'] {
		display: inline-block;
		width: 100%;
	}
	.confirmPWBtn {
		background-color: grey;
		margin: 1rem 0 0 0;
		float: right;
	}
}

fieldset {
	margin-top: 1rem;
}

input {
	width: 200px;
	display: block;
	border: 1px solid #ccc;
	height: 2.3rem;
	font-size: 1rem;
	padding-left: 0.8rem;
	box-sizing: border-box;
	&:focus {
		outline: 2px solid #3f68b5;
	}
}

.profileForm {
	font-family: $primary-font;
	padding: 1rem 2rem;
	margin: auto;
	width: 80%;
	background-color: white;
}

input#email {
	border: none;
}

button#changePassword {
	color: white;
}

.gridContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;

	button.savePersonalInfo {
		color: white;
		align-self: flex-end;
		justify-self: flex-end;
	}
}

input[type='file'] {
	display: none;
}

button.changeAvatar {
	background-color: #888;
}

input:read-only {
	&:focus {
		outline: none;
	}
}

.avatarContainer {
	position: relative;
	align-self: center;

	.avatarBox {
		margin-bottom: 1rem;
		display: grid;
		align-items: flex-end;
		position: relative;
		width: min-content;
		height: min-content;
		margin-left: 0.8rem;
		label[for='changeAvatar'] {
			margin: 0;
			padding: 0 0.5rem;
			position: absolute;
			background-color: $primary-dark;
			color: white;
			border-radius: 5px;
			cursor: pointer;
			left: 0;
			bottom: 0;
		}
	}
	#profileAvatar {
		margin-top: auto;
		height: 100px;
		width: 100px;
		object-fit: cover;
		border-radius: 50%;
	}
}

#connectKakao {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	opacity: 0;
	z-index: 1;
}

.kakaoSignin {
	width: 100%;
	background-color: $kakao;
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	font-size: 0.9rem;
	img#kakaoLogo {
		font-family: 'Roboto';
		height: 2rem;
		margin-right: 0.5rem;
		position: relative;
		top: 0.2rem;
	}
}

.connectButtons {
	margin-top: 1rem;
	margin-left: 0.8rem;
	display: grid;
	grid-template-columns: 25% 25%;
	grid-gap: 0.5rem;

	.googleSignin {
		background-color: $secondary-light;
		display: flex;
		justify-content: center;
		align-items: center;
		img#googleLogo {
			height: 1.3rem;
			margin-right: 1.5rem;
		}
	}
}

.connectedAcct {
	margin-left: 0.8rem;
	.connectedAcctContainer {
		display: grid;
		grid-template-rows: repeat(3, 1fr);
		grid-gap: 1rem;
		text-align: center;
		div {
			width: 20%;
			background-color: #eee;
			padding: 1rem 0;
			display: flex;
			align-items: center;
			justify-content: space-around;
		}
	}
	img {
		width: 35px;
	}
}

/*# sourceMappingURL=login.css.map */
