@font-face {
  font-family: "DIN alternate";
  src: url("http://localhost:8888/public/css/fonts/DIN Alternate Regular.otf");
}
.bodyWrapper {
  font-family: "DIN alternate";
  height: min-content;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 7.5fr;
  justify-content: center;
  align-items: center;
  background-color: #2f2f2f;
  box-sizing: border-box;
}

.listWrapper {
  background-color: black;
  height: 100%;
}

.calWrapper {
  height: 100%;
  box-sizing: border-box;
  background-color: #2f2f2f;
  margin-top: 0;
  padding-top: 20px;
}

.utilContainer .calendarCtrl {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.utilContainer .calendarCtrl .showCal {
  background-image: url("../images/cal_icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
}
.utilContainer .calendarCtrl .showCal span#month {
  font-size: 0.8rem;
  margin-top: 0.2rem;
  font-weight: bold;
}
.utilContainer .calendarCtrl .showCal span#date {
  font-size: 0.6rem;
}
.utilContainer .calendarCtrl button {
  height: max-content;
  background-color: #2f2f2f;
  border: 1px solid white;
  color: white;
  border-radius: 5px;
  margin: 0 2rem;
  font-size: 1rem;
  cursor: pointer;
}
.utilContainer .calendarCtrl button:hover {
  background-color: white;
  border: 1px solid #2f2f2f;
  color: #2f2f2f;
}
.utilContainer .addSchedule {
  float: right;
  margin-right: 1.5rem;
  position: relative;
  bottom: 10%;
}

.calContainer {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(7, 1fr);
  height: 100%;
  width: 100%;
  padding: 0 1.5rem 2rem 1.5rem;
  box-sizing: border-box;
}
.calContainer .dayContainer {
  border-radius: 10px 10px 0 0;
  border: 1px solid white;
  height: 100%;
}
.calContainer .dayContainer .dayAndDate {
  height: 5%;
  font-weight: bold;
  font-size: 1.1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 6px 6px 0 0;
  padding: 0 0.5rem;
  background-color: white;
}
.calContainer .dayContainer .calbody {
  height: 95%;
}

.fc-header-toolbar {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr !important;
}
.fc-header-toolbar .fc-left {
  padding-left: 2rem;
  align-self: end;
}
.fc-header-toolbar .fc-center {
  display: grid !important;
  justify-content: center !important;
}
.fc-header-toolbar .fc-center div {
  color: white;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}
.fc-header-toolbar .fc-center div h2 {
  margin: 0 0.8rem;
  min-width: 120px;
}
.fc-header-toolbar .fc-center div h2 div.days {
  font-size: 1.2rem;
}
.fc-header-toolbar .fc-center div #calIcon-year {
  display: grid;
  grid-template-columns: repeat(3, auto);
}
.fc-header-toolbar .fc-center div #calIcon-year div.firstYear,
.fc-header-toolbar .fc-center div #calIcon-year div.secondYear {
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.fc-header-toolbar .fc-center div #calIcon-year div.firstYear .month-day,
.fc-header-toolbar .fc-center div #calIcon-year div.secondYear .month-day {
  font-size: 1.1rem;
}
.fc-header-toolbar .fc-center div button {
  font-size: 1rem;
  padding-top: 0;
  padding-bottom: 0;
  height: 2.1rem;
  background-color: #2f2f2f;
  border: white 1px solid;
  color: white;
  text-transform: capitalize;
  position: relative;
  border-radius: 10px;
  top: 2px;
}
.fc-header-toolbar .fc-center div button:hover {
  color: black;
  background-color: white;
}
.fc-header-toolbar .fc-view-container span.fc-day-number {
  vertical-align: bottom;
}

button.addEvent {
  padding: 0;
  float: right;
  margin-right: 0.5rem;
  height: 30px;
  width: 30px;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
}
button.addEvent:hover {
  transform: scale(1.1, 1.1);
  background-color: #3363e6;
  color: white;
}

form.addSimpleSchedule {
  margin: 0;
  font-family: "DIN alternate";
}
form.addSimpleSchedule h2 {
  margin-top: 0;
}
form.addSimpleSchedule input {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  height: 2.3rem;
  font-size: 1rem;
  box-sizing: border-box;
  margin-top: 0.4rem;
}
form.addSimpleSchedule button {
  float: right;
  color: white;
  background-color: lightslategrey;
  width: 130px;
  font-size: 0.85rem;
  height: 2.3rem;
  border: none;
  cursor: pointer;
  margin-top: 1rem;
}
form.addSimpleSchedule label {
  display: block;
}
form.addSimpleSchedule label:not(:nth-child(2)) {
  margin-top: 0.8rem;
}

.calWrapper .fc-content {
  display: grid;
  align-items: center;
  grid-template-columns: 20px auto auto;
  position: relative;
  z-index: 2;
  background-color: white;
}
.calWrapper .fc-content span {
  color: black;
}
.calWrapper .fc-event {
  width: 90%;
  margin: 0 auto;
  border-radius: 0;
  height: 40px;
  border: none;
}
.calWrapper .fc-event,
.calWrapper .fc-event-dot {
  background-color: white;
  padding: 0;
}
.calWrapper span.isDone[data-isDone="0"] i {
  display: none;
}
.calWrapper a.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end {
  margin-top: 10px;
  padding-left: 0;
}
.calWrapper a.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end span.isDone {
  text-align: right;
  padding-right: 3px;
}
.calWrapper div.priority {
  height: 100%;
  min-height: 40px;
  float: left;
  margin-right: 6px;
  width: 15px;
}
.calWrapper div.priority[data-priority=high] {
  background-color: #b80e0e;
}
.calWrapper div.priority[data-priority=medium] {
  background-color: #f0c400;
}
.calWrapper div.priority[data-priority=low] {
  background-color: #007e00;
}

#external-events {
  height: 80%;
  border: none;
  background-color: black;
}

.listWrapper .fc-event {
  width: 100%;
  margin: 0 auto;
  border-radius: 0;
  height: 40px;
  border: none;
  background-color: white;
  color: black;
  display: grid;
  align-items: center;
  grid-template-columns: 20px auto auto;
  position: relative;
}
.listWrapper span.isDone[data-isDone="0"] i {
  display: none;
}
.listWrapper span.isDone {
  text-align: right;
  padding-right: 3px;
}
.listWrapper div.priority {
  height: 100%;
  min-height: 40px;
  float: left;
  margin-right: 6px;
  width: 15px;
}
.listWrapper div.priority[data-priority=high] {
  background-color: #b80e0e;
}
.listWrapper div.priority[data-priority=medium] {
  background-color: #f0c400;
}
.listWrapper div.priority[data-priority=low] {
  background-color: #007e00;
}

body > .fc-event.fc-dragging {
  font-family: "DIN alternate";
  width: 100%;
  margin: 0 auto;
  border-radius: 0;
  height: 40px;
  border: none;
  background-color: white;
  color: black;
  display: grid;
  align-items: center;
  grid-template-columns: 20px auto auto;
}
body > .fc-event.fc-dragging span.isDone[data-isDone="0"] i {
  display: none;
}
body > .fc-event.fc-dragging span.isDone {
  text-align: right;
  padding-right: 3px;
}
body > .fc-event.fc-dragging div.priority {
  height: 100%;
  min-height: 40px;
  float: left;
  margin-right: 6px;
  width: 15px;
}
body > .fc-event.fc-dragging div.priority[data-priority=high] {
  background-color: #b80e0e;
}
body > .fc-event.fc-dragging div.priority[data-priority=medium] {
  background-color: #f0c400;
}
body > .fc-event.fc-dragging div.priority[data-priority=low] {
  background-color: #007e00;
}

/*# sourceMappingURL=viewWeekly.css.map */
