@import '1_shared/1_1_variables.scss';

.bodyWrapper {
	font-family: $primary-font;
	height: min-content;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 7.5fr;
	justify-content: center;
	align-items: center;
	background-color: $primary-dark;
	box-sizing: border-box;
}

.listWrapper {
	background-color: black;
	height: 100%;
}

.calWrapper {
	height: 100%;
	box-sizing: border-box;
	background-color: #2f2f2f;
	margin-top: 0;
	padding-top: 20px;
}

.utilContainer {
	.calendarCtrl {
		display: flex;
		flex-flow: row;
		align-items: center;
		justify-content: center;
		width: 100%;
		.showCal {
			background-image: url("../images/cal_icon.svg");
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			display: flex;
			flex-flow: column;
			align-items: center;
			justify-content: center;
			height: 3rem;
			width: 3rem;
			span#month {
				font-size: 0.8rem;
				margin-top: 0.2rem;
				font-weight: bold;
			}
			span#date {
				font-size: 0.6rem;
			}
		}
		button {
			height: max-content;
			background-color: $primary-dark;
			border: 1px solid $primary-light;
			color: $primary-light;
			border-radius: 5px;
			margin: 0 2rem;
			font-size: 1rem;
			cursor: pointer;
			&:hover {
				background-color: $primary-light;
				border: 1px solid $primary-dark;
				color: $primary-dark;
			}
		}
	}
	.addSchedule {
		float: right;
		margin-right: 1.5rem;
		position: relative;
		bottom: 10%;
	}
}

.calContainer {
	display: grid;
	grid-gap: 0.5rem;
	grid-template-columns: repeat(7, 1fr);
	height: 100%;
	width: 100%;
	padding: 0 1.5rem 2rem 1.5rem;
	box-sizing: border-box;
	.dayContainer {
		border-radius: 10px 10px 0 0;
		border: 1px solid $primary-light;
		height: 100%;
		.dayAndDate {
			height: 5%;
			font-weight: bold;
			font-size: 1.1rem;
			display: flex;
			justify-content: space-around;
			align-items: center;
			border-radius: 6px 6px 0 0;
			padding: 0 0.5rem;
			background-color: $primary-light;
		}
		.calbody {
			height: 95%;
		}
	}
}

.fc-header-toolbar {
	display: grid !important;
	grid-template-columns: 1fr 1fr 1fr !important;

	.fc-left {
		padding-left: 2rem;
		align-self: end;
	}

	.fc-center {
		display: grid !important;
		justify-content: center !important;
	}

	.fc-center div {
		color: white;
		display: flex;
		flex-flow: row;
		justify-content: center;
		align-items: center;
		font-size: 1rem;
		h2 {
			margin: 0 0.8rem;
			min-width: 120px;
			div.days {
				font-size: 1.2rem;
			}
		}
		#calIcon-year {
			display: grid;
			grid-template-columns: repeat(3, auto);
			div.firstYear,
			div.secondYear {
				text-align: center;
				display: grid;
				grid-template-rows: 1fr 1fr;
				.month-day {
					font-size: 1.1rem;
				}
			}
		}
		button {
			font-size: 1rem;
			padding-top: 0;
			padding-bottom: 0;
			height: 2.1rem;
			background-color: $primary-dark;
			border: white 1px solid;
			color: white;
			text-transform: capitalize;
			position: relative;
			border-radius: 10px;
			top: 2px;
			&:hover {
				color: black;
				background-color: white;
			}
		}
	}

	.fc-view-container {
		span.fc-day-number {
			vertical-align: bottom;
		}
	}
}

// add simple schedule

button.addEvent {
	padding: 0;
	float: right;
	margin-right: 0.5rem;
	height: 30px;
	width: 30px;
	cursor: pointer;
	border: none;
	border-radius: 50%;
	font-size: 1rem;
	transition: all 0.2s ease-in-out;
	&:hover {
		transform: scale(1.1, 1.1);
		background-color: rgb(51, 99, 230);
		color: white;
	}
}

form.addSimpleSchedule {
	margin: 0;
	font-family: "DIN alternate";

	h2 {
		margin-top: 0;
	}

	input {
		display: block;
		width: 100%;
		border: 1px solid #ccc;
		height: 2.3rem;
		font-size: 1rem;
		box-sizing: border-box;
		margin-top: 0.4rem;
	}

	button {
		float: right;
		color: white;
		background-color: lightslategrey;
		width: 130px;
		font-size: 0.85rem;
		height: 2.3rem;
		border: none;
		cursor: pointer;
		margin-top: 1rem;
	}

	label {
		display: block;
	}

	label:not(:nth-child(2)) {
		margin-top: 0.8rem;
	}
}

//styling schedule(event) sticker

.calWrapper {
	.fc-content {
		display: grid;
		align-items: center;
		grid-template-columns: 20px auto auto;
		position: relative;
		z-index: 2;
		background-color: white;
		span {
			color: black;
		}
	}

	.fc-event {
		width: 90%;
		margin: 0 auto;
		border-radius: 0;
		height: 40px;
		border: none;
	}

	.fc-event,
	.fc-event-dot {
		background-color: white;
		padding: 0;
	}

	span.isDone[data-isDone="0"] i {
		display: none;
	}

	a.fc-day-grid-event.fc-h-event.fc-event.fc-start.fc-end {
		margin-top: 10px;
		padding-left: 0;
		span.isDone {
			text-align: right;
			padding-right: 3px;
		}
	}

	div.priority {
		height: 100%;
		min-height: 40px;
		float: left;
		margin-right: 6px;
		width: 15px;
	}

	div.priority[data-priority='high'] {
		background-color: $high;
	}

	div.priority[data-priority='medium'] {
		background-color: $medium;
	}

	div.priority[data-priority='low'] {
		background-color: $low;
	}
}

#external-events {
	height: 80%;
	border: none;
	background-color: black;
}

.listWrapper {
	.fc-event {
		width: 100%;
		margin: 0 auto;
		border-radius: 0;
		height: 40px;
		border: none;
		background-color: white;
		color: black;
		display: grid;
		align-items: center;
		grid-template-columns: 20px auto auto;
		position: relative;
	}

	span.isDone[data-isDone="0"] i {
		display: none;
	}

	span.isDone {
		text-align: right;
		padding-right: 3px;
	}

	div.priority {
		height: 100%;
		min-height: 40px;
		float: left;
		margin-right: 6px;
		width: 15px;
	}

	div.priority[data-priority='high'] {
		background-color: $high;
	}

	div.priority[data-priority='medium'] {
		background-color: $medium;
	}

	div.priority[data-priority='low'] {
		background-color: $low;
	}
}

body > .fc-event.fc-dragging {
	font-family: $primary-font;
	width: 100%;
	margin: 0 auto;
	border-radius: 0;
	height: 40px;
	border: none;
	background-color: white;
	color: black;
	display: grid;
	align-items: center;
	grid-template-columns: 20px auto auto;

	span.isDone[data-isDone="0"] i {
		display: none;
	}

	span.isDone {
		text-align: right;
		padding-right: 3px;
	}

	div.priority {
		height: 100%;
		min-height: 40px;
		float: left;
		margin-right: 6px;
		width: 15px;
	}

	div.priority[data-priority='high'] {
		background-color: $high;
	}

	div.priority[data-priority='medium'] {
		background-color: $medium;
	}

	div.priority[data-priority='low'] {
		background-color: $low;
	}
}
